{% extends "vids/base/base.html" %}

{% block title %}Random Sakuga{% endblock %}

{% block body %}

<video autoplay controls onended="reload()" id="vid" class='col-10 w-100'>
  <source src="{{ videoUrl }}" type="video/mp4">
</video>

<div>
  <p>Tags: <span class='badge text-bg-secondary'>{{ tags }}</span> </p>
  <button class='btn btn-primary' onclick='play_audio()'>Play Audio</button>
  <button class='btn btn-primary' onclick='stop_audio()'>Stop Audio</button>
  <button class='btn btn-primary' onclick='reload()'>Play Next Video</button>
  <a class='btn btn-primary' href="{{ song }}" role='button'>Play in Background</a>
  <a class='btn btn-primary' href="{{ postUrl }}" role='button'>View Original Post</a>
</div>

<audio autoplay class="w-100" id='aud'>
  <source src="{{ song }}" type="audio/mp3">
</audio> 

<script type='text/javascript'>
  function reload() {
    location.reload();
  }

  function play_audio() {
    var aud = document.getElementById('aud');
    aud.play();
  }

  function stop_audio() {
    var aud = document.getElementById('aud');
    aud.pause();
  }
</script>
{% endblock %}